@ms-fw:registry=https://fluentweb.pkgs.visualstudio.com/_packaging/ms.fw/npm/registry/
@ms-fw:always-auth=true
@ec-oem:registry=https://microsoft.pkgs.visualstudio.com/_packaging/EC.OEM/npm/registry/
@ec-oem:always-auth=true
registry=http://registry.npmjs.org
always-auth=false 