.adjustment-rule-card {
    margin-bottom: 15px;

    &.expand {
        border: 1px solid $blue;
        position: relative;

        &:before {
            transform: rotate(45deg);
            content: '';
            position: absolute;
            top: -27px;
            left: -6px;
            width: 0;
            height: 0;
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
            border-right: 40px solid $blue;
        }

        h5 {
            padding-left: 40px;
        }
    }

    .card-body {

        .card-title {
            margin-top: -8px;

            h5 {
                font-family: $font-family-semibold;
                margin-bottom: 1px;
                color: $darkblue;
            }

            .btn.ms-close {
                width: 20px;
                height: 20px;
                position: initial;
                transform: none;
                padding: 0;
                background: none;

                &:before {
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                    float: left;
                    width: 20px;
                    color: $gray-500;
                }
            }
        }

        .auto-suggest-box {
            list-style: none;
            padding: 0;
            position: absolute;
            width: 100%;
            background: $white;
            z-index: 4;
            border: 1px solid $gray-400;
            border-top: 0;

            li {
                padding: 5px 10px;
                min-height: 40px;
                display: flex;
                align-items: center;
                font-size: $font-size-base;
                line-height: 1.1em;
            }

            li:not(:first-child) {
                border-top: 1px solid $gray-400;
            }
        }

        .tier-adjustment {
            padding-top: 3px;

            .tier-details:nth-child(2) {
                padding-top: 10px;
            }

            h6 {
                font-size: $footer-font-sm-size;
                color: $gray-500;
            }

            .tier-details {
                &:not(:first-of-type) {
                    /*margin-top: 10px;*/
                }

                .product-tier {
                    width: 25%;
                    max-width: 70px;
                }

                .switch-button-wrapper {
                    height: $input-height;

                    .switch-wrapper {
                        margin: 0;

                        .left-btn, .right-btn {
                            font-size: $small-font-sm-size;
                        }
                    }
                }

                .form-group {
                    margin: 0;

                    .switch-radio {
                        float: left;
                        margin: 0;

                        label {
                            font-size: $small-font-sm-size;
                        }
                    }

                    select {
                        font-size: $footer-font-sm-size;
                        max-width: 120px;
                    }
                }

                .form-group.adjustment {
                    width: 24%;
                    max-width: 80px;
                }
            }

            .tier-details + .tier-details {
                margin-top: 10px;
            }
        }
    }

    &:hover {
        background: $tile-hover;

        .card-body {
            .card-title {
                .btn.ms-close {
                    &:before {
                        color: $gray-800;
                    }
                }
            }
        }
    }

    .expand-btn {
        background: none;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid #fff;
        font-size: .75rem;
        line-height: 20px;
        color: #fff;
        position: absolute;
        top: 5px;
        left: 5px;
        text-align: center;
        padding: 0;
        margin: 0;
        cursor: pointer;

        &:before {
            width: 20px;
            height: 20px;
            line-height: 20px;
            float: left;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {

        @include media-breakpoint-up(md) {
            .adjustment-rule-card {
                height: calc(100% - 30px);
                margin-bottom: 30px;
            }
        }

        @include media-breakpoint-up(lg) {
            .adjustment-rule-card .card-body .tier-adjustment h6 {
                font-size: $caption-font-lg-size;
            }
        }
    }
}
