.react-datepicker-popper {
    &[data-placement^="bottom"] {
        margin-top: 0 !important;
        z-index: 5;
        right: 20px !important;
    }

    .react-datepicker {
        border-radius: 0;
        border: 1px solid $gray-100;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        .react-datepicker__triangle {
            display: none;
        }
    }
}

.react-datepicker__navigation {
    &.react-datepicker__navigation--previous, &.react-datepicker__navigation--next {
        width: 14px;
        height: 14px;
        border: none;
        background: none;
        left: inherit;
        top: 16px;
        overflow: hidden;
    }

    &.react-datepicker__navigation--previous {
        &:before, &:after {
            content: "";
            width: 14px;
            height: 14px;
            background: $white;
            transform: rotate(45deg);
            display: block;
            position: absolute;
            top: 0;
        }
    }

    &.react-datepicker__navigation--next {
        &:before, &:after {
            content: "";
            width: 14px;
            height: 14px;
            background: $white;
            transform: rotate(45deg);
            display: block;
            position: absolute;
            top: 0;
        }

        &:before {
            right: 4px;
        }

        &:after {
            right: 6px;
            background: $blue;
        }
    }

    &.react-datepicker__navigation--previous {
        &:before {
            left: 4px;
        }

        &:after {
            left: 6px;
            background: $blue;
        }

        left: 15px;
    }

    &.react-datepicker__navigation--next {
        right: 15px;
    }
}

.react-datepicker__month-container {
    min-width: 280px;

    .react-datepicker__header {
        background: $blue;
        border-radius: 0;
        padding-top: 12px;
        border: none;

        .react-datepicker__current-month {
            font-family: segoi-ui-semi-bold;
            font-size: 16px;
            color: $white;
            padding-bottom: 12px;
        }

        .react-datepicker__header__dropdown {
            padding-bottom: 12px;
            margin-top: -10px;
            line-height: initial;

            .react-datepicker__year-read-view {
                display: inline-block;
                position: relative;
                padding-right: 20px;
                border: none;

                .react-datepicker__year-read-view--selected-year {
                    float: left;
                    color: $white;
                }

                .react-datepicker__year-read-view--down-arrow {
                    margin-left: initial;
                    top: 2px;
                    position: absolute;
                    border: none;
                    width: 12px;
                    height: 12px;
                    border: none;
                    background: none;
                    right: 0;
                    overflow: hidden;
                    box-shadow: none;
                    outline: none;

                    &:before {
                        content: "";
                        width: 12px;
                        height: 12px;
                        background: $white;
                        transform: rotate(-45deg);
                        display: block;
                        position: absolute;
                        top: -6px;
                        left: 0;
                        margin: 0;
                        padding: 0;
                        bottom: initial;
                        border: none;
                        z-index: inherit;
                    }

                    &:after {
                        content: "";
                        width: 12px;
                        height: 12px;
                        background: $white;
                        transform: rotate(-45deg);
                        display: block;
                        position: absolute;
                        top: -6px;
                        left: 0;
                        margin: 0;
                        padding: 0;
                        bottom: initial;
                        border: none;
                        z-index: inherit;
                        top: -8px;
                        background: $blue;
                        left: 0;
                    }
                }
            }
        }
    }
}

.react-datepicker__navigation.react-datepicker__navigation--next {
    &:before, &:after {
        content: "";
        width: 14px;
        height: 14px;
        background: $white;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: 0;
    }

    &:before {
        right: 4px;
    }

    &:after {
        right: 6px;
        background: $blue;
    }
}

.react-datepicker__year-dropdown-container .react-datepicker__year-dropdown {
    width: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    border-radius: 0;

    .react-datepicker__year-option:hover {
        background: $blue;
        color: $white;

        .react-datepicker__navigation--years-upcoming {
            border-bottom-color: $white;
        }

        .react-datepicker__navigation--years-previous {
            border-top-color: $white;
        }
    }
}

.react-datepicker__month-container {
    .react-datepicker__header .react-datepicker__day-names {
        background: $white;
        padding-top: 5px;
        line-height: initial;

        .react-datepicker__day-name {
            width: 30px;
            line-height: 30px;
            margin: 7px 5px;
            text-align: center;
            border-radius: 0;
            font-family: segoi-ui-semi-bold;
            font-size: $button-font-sm-size;
            color: #505050;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .react-datepicker__month {
        margin: 0;
        padding-bottom: 5px;

        .react-datepicker__week .react-datepicker__day {
            width: 30px;
            line-height: 30px;
            margin: 7px 5px;
            text-align: center;
            border-radius: 0;
            font-size: 1rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background: $gray-400;
            }

            &.react-datepicker__day--selected {
                background: $blue;

                &:hover {
                    background: $blue;
                }
            }
        }
    }
}

.react-datepicker__year-option, .react-datepicker__month-option, .react-datepicker__month-year-option {
    line-height: 23px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {

        @include media-breakpoint-up(lg) {
            .react-datepicker__navigation {
                &.react-datepicker__navigation--previous {
                    left: 28px;
                }

                &.react-datepicker__navigation--next {
                    right: 28px;
                }
            }

            .react-datepicker__month-container {
                .react-datepicker__header {
                    .react-datepicker__current-month {
                        padding-left: 0px;
                    }

                    .react-datepicker__day-names .react-datepicker__day-name {
                        margin: 7px 8px;
                    }
                }

                .react-datepicker__month {
                    margin: 0px 20px 0px 15px;

                    .react-datepicker__week .react-datepicker__day {
                        margin: 7px 8px;
                    }
                }
            }
        }
    }
}
