.modal {
    .modal-dialog {
        text-align: center;

        .modal-content {
            padding: 0 15px;

            .modal-header {
                padding: 0;
                border: none;

                .modal-title {
                    font-family: $font-family-semibold;
                    font-size: $h2-font-sm-size;
                    color: $darkblue;
                    padding: 15px 0px 0;
                    line-height: initial;
                }

                .btn.ms-close {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 20px;
                    right: 15px;
                    transform: none;
                    padding: 0;
                    z-index: 3;
                    background: none;

                    &:before {
                        height: 20px;
                        line-height: 20px;
                        font-size: 12px;
                        float: left;
                        width: 20px;
                        color: $gray-500;
                    }

                    &:hover, &:focus {
                        &:before {
                            font-weight: 600;
                            font-size: $caption-font-sm-size;
                        }
                    }
                }
            }

            .modal-body {
                text-align: left;
                padding: 18px 0px 0px;
                font-size: $caption-font-sm-size;

                p {
                    color: $gray-600;
                    margin-bottom: 5px;

                    .rule-name {
                        color: $blue;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    strong {
                        font-family: $font-family-semibold;
                    }
                }
            }

            .modal-footer {
                border: none;
                padding: 15px 0px 15px;

                .btn {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {

        @include media-breakpoint-up(md) {
            .modal {

                .modal-dialog {
                    margin-top: 100px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 700px;

                    .modal-content {
                        padding: 0 30px;

                        .modal-header {

                            .modal-title {
                                font-family: $font-family-sans-serif;
                                font-size: $h1-font-lg-size;
                                padding: 25px 0px 0;
                            }

                            .btn.ms-close {
                              
                                top: 26px;
                                right: 26px;
                            }
                        }

                        .modal-body {
                            text-align: center;
                            padding: 11px 0px 0px;
                            font-size: $h5-font-lg-size;

                            p {
                                margin-bottom: -1px;

                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .modal-footer {
                            padding: 44px 0 30px;

                            .btn {
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .modal {
                .modal-dialog {
                    max-width: 900px;
                    margin-top: 100px;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .modal {
                .modal-dialog {
                    max-width: initial;
                    margin: 20px;
                }
            }
        }
    }
}
