.pagination-wrapper {
    padding: 20px 0;

    .jump-to-page {
        font-size: $caption-font-sm-size;
        color: $gray-500;

        strong {
            font-family: $font-family-semibold;
        }

        .selectpicker {
            font-size: inherit;
            border: 1px solid $gray-400;
            padding-left: 4px;
            height: $pagination-height-lg;
            line-height: $pagination-height-lg;
            margin-right: 10px;
        }
    }
}

.pagination {
    margin: 10px 0px 0px;
    font-size: $caption-font-sm-size;

    .page-item {
        .page-link {
            margin: 0;
            border-radius: 0;
            text-align: center;
            min-width: $pagination-height-lg;
            line-height: $pagination-height-lg;
            height: $pagination-height-lg;

            &:hover, &:focus {
                text-decoration: underline;
                &:before {
                    text-decoration:none;
                }
            }
        }

        &:first-child {
            .page-link {
                padding-left: 0;

                &:before {
                    width: 14px;
                    padding-right: 5px;
                    line-height: $pagination-height-lg;
                    height: $pagination-height-lg;
                }
            }
        }

        &:last-child {
            .page-link {
                padding-right: 0;

                &:before {
                    width: 14px;
                    padding-left: 5px;
                    float: right;
                    line-height: $pagination-height-lg;
                    height: $pagination-height-lg;
                }
            }
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {

        @include media-breakpoint-up(md) {
            .pagination {
                margin: 0;
            }
        }

        @include media-breakpoint-up(lg) {
            /*.pagination {
                font-size: $footer-font-lg-size;

                .page-item {

                    .page-link {
                        text-align: center;
                    }

                    &:first-child {
                        .page-link {

                            &:before {
                                line-height: $pagination-height-lg;
                                height: $pagination-height-lg;
                            }
                        }
                    }

                    &:last-child {
                        .page-link {
                            &:before {
                                line-height: $pagination-height-lg;
                                height: $pagination-height-lg;
                            }
                        }
                    }
                }
            }*/
        }
    }
}
