.top-search-input {
    padding-top: 30px;
    @extend .easing;

    .page-title-wrapper {
        @extend .easing;

        .page-title {
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            @extend .easing;
        }
    }

    .search-input-inner {
        display: flex;
        flex-direction: column;
        padding-top: 14px;
        @extend .easing;

        .form-group {
            margin: 0;

            input {
                padding-right: 40px;
            }

            .input-search-icon, .search-text-clear {
                position: absolute;
                bottom: 1px;
                right: 1px;
                width: 38px;
                height: 38px;
                border: none;
                margin: 0;
                padding: 0;
                text-align: center;
                color: $blue;
                background: $white;

                &:before {
                    width: 38px;
                    height: 38px;
                    line-height: 40px;
                }
                &.disabled{
                    color: $gray-400;
                }
            }

            .search-text-clear {
                display: none;
                cursor: pointer;
                color: $gray-500;
            }
        }
    }

    &.expand {
        padding-top: 0;

        .page-title-wrapper {
            .page-title {
                left: 0%;
                transform: translate(0%, 0);
            }
        }
    }


    .search-collapse-btn {
        margin: 4px 0px -4px;
        padding: 0;
        font-size: $caption-font-sm-size;
        height: auto;
        line-height: initial;

        .if-not-collapsed {
            display: block;
        }

        .if-collapsed {
            display: none;
        }

        &.collapsed {
            .if-collapsed {
                display: block;
            }

            .if-not-collapsed {
                display: none;
            }
        }
    }
}

.search-advance-options {
    .search-rule-options-container {
        padding-top: 9px;
    }

    .next-step-button {
        border: none;
        padding: 10px 0 0;
        margin-left: 0;
        margin-right: 0;

        .btn-icon {
            margin-right: 15px;

            span {
                padding-left: 0;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.search-main-wrapper {
    border-top: 1px solid $gray-400;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 70px;

    .sub-title-wrapper {
        p {
            margin-top: -2px;
            color: $gray-600;
            line-height: 1.3;
        }
    }
}

.search-result-wrapper {
    .search-result-filter {
        .search-filter-accordion {
            border-bottom: 1px solid $gray-400;

            .card {
                .card-header {
                    h4 {
                        .btn {
                            line-height: $filter-accordian-height-sm;
                            height: $filter-accordian-height-sm;
                            padding: 0px;

                            &:before {
                                right: 20px;
                            }

                            span {
                                width: 100%;
                                height: 100%;
                                padding: 0px 20px;
                                display: block;
                            }
                        }
                    }
                }

                .card-body {
                    padding: 14px 20px;

                    .custom-checkbox {
                        margin-bottom: 11px;
                    }
                }
            }
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {

        @include media-breakpoint-up(lg) {
            .top-search-input {
                .page-title-wrapper {
                    padding-bottom: 33px;
                }

                .search-input-inner {
                    width: calc(50% - 15px);
                    margin: 0px auto;

                    .search-collapse-btn {
                        margin-bottom: 10px;
                    }
                }


                &.expand {
                    .page-title-wrapper {
                        padding-bottom: 0px;
                    }

                    .search-input-inner {
                        width: 100%;
                        flex-direction: row;

                        .form-group {
                            width: calc(50% - 15px);
                        }
                    }
                }
            }

            .search-main-wrapper {
                padding-top: 10px;

                .sub-title-wrapper {
                    border-top: 1px solid $gray-400;
                    padding-top: 26px;

                    p {
                        margin-top: 3px;
                    }
                }
            }

            .search-advance-options {
                .next-step-button {
                    padding-top: 20px;
                    padding-bottom: 30px;
                }
            }

            .search-result-wrapper {
                .search-result-filter {
                    width: calc(33.33% - 15px);
                    display: none;

                    .search-filter-accordion {
                        display: block !important;
                        height: initial !important;
                    }
                }

                .search-content-main {
                    width: 100%;
                }

                &.expanded-filter {
                    .search-result-filter {
                        display: block;
                        margin-top: 11px;
                    }

                    .search-content-main {
                        width: calc(66.66% - 15px);

                        .search-card-wrapper {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-up(xl) {
            .search-result-wrapper {
                .search-result-filter {
                    width: calc(25% - 15px);
                }

                &.expanded-filter {
                    .search-content-main {
                        width: calc(75% - 15px);

                        .search-card-wrapper {
                            flex: 0 0 33.33333%;
                            max-width: 33.33333%;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {
            .search-result-wrapper {
                position: relative;
                margin-top: 20px;

                .search-result-filter {
                    position: absolute;
                    top: 0;
                    left: 0px;
                    right: 0px;
                    background: $white;
                    z-index: 5;
                    /*.search-filter-accordion {
                        display: none;
                    }*/
                }
            }
        }

        @include media-breakpoint-down(xs) {
            .search-rule-options-container {
                & > .row {
                    margin-right: -10px;
                    margin-left: -10px;

                    .form-group {
                        padding-left: 10px;
                        padding-right: 10px;

                        &.half {
                            width: 50%;
                        }
                    }
                }
            }

            .search-result-wrapper {
                .search-result-filter {

                    .search-filter-accordion {
                        .card {
                            .card-header {
                                h4 {
                                    .btn {
                                        padding: 0px 40px;

                                        &:before {
                                            right: 40px;
                                        }
                                    }
                                }
                            }

                            .card-body {
                                padding-left: 40px;
                                padding-right: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
