.upload-btn-wrapper {
    width: 20%;

    .custom-file {
        overflow: hidden;
    }
}

.component-tile {
    background: $gray-300;
    padding: 15px;
    margin-bottom: 20px;
    min-height: 90px;
    position: relative;

    &:hover {
        background: $tile-hover;
    }

    img {
        width: 40px;
        margin-right: 15px;
    }

    h5 {
        font-family: $font-family-semibold;
        color: $darkblue;
        margin: -3px 0px 4px;
    }

    p {
        font-size: $caption-font-sm-size;
    }
}

.uploaded-doc-wrapper {
    cursor: pointer;

    .close-btn {
        position: absolute;
        top: 13px;
        right: 13px;
    }

    .uploaded-date {
        font-size: $caption-font-sm-size;
        margin: -5px 0px 0px;
        color: $gray-600;
    }

    .doc-file-details {
        width: calc(100% - 75px);

        h5 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
}


@each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {

        @include media-breakpoint-up(md) {
            .component-tile {
                margin-bottom: 30px;
                padding: 20px;

                h5 {
                    margin: -7px 0px 8px;
                }

                &.uploaded-doc-wrapper {
                    h5 {
                        margin: -5px 0px 9px;
                    }
                }
            }
        }
    }
}
